.Navbar {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  border-bottom: 4px solid rgb(0, 0, 0);
}

.Map-Category {
  border: none;
  background: none;
  margin: 53px 0 32px 0;
}
