.Wrapper {
  width: 1200px;
}

.Posts {
  display: flex;
  justify-content: space-between;
}

.Post-Img--left {
  height: 662px;
  width: 700px;
  margin: 30px 16px 40px 200px;
}

.Post-Left__name{
  top:0;
  position: absolute;
            top: 50%; /* Центрирование по вертикали */
            left: 50%; /* Центрирование по горизонтали */
            transform: translate(-50%, -50%); /* Сдвиг для центрирования */
            color: white; /* Цвет текста */
            font-size: 24px; 
            text-align: center; 
}

.Post-Right__img {
  width: 484px;
  height: 323px;
}
.Post-Right__Png {
  width: 484px;
  height: 323px;
}
